# Add access transformers here in Mojmap form, e.g.:
# public-f net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase destroySpeed
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen leftPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen topPos
